<div class="container__big-card">
    <div class="big-card__photo">
        <img src="https://testing-angular.com/assets/img/code-coverage-photo-item-uncovered.png" alt="" height="200px"
            width="">
    </div>
    <div class="big-card__title">
        <h1><a href="#">Saiu a nova versão do Angular</a></h1>
    </div>
    <div class="big-card__description">
        <p>
            <a href="#">
                Donec ligula mauris, vulputate id maximus eu, tempor sed diam. Fusce placerat finibus cursus. Duis tortor
                orci, cursus non quam quis, condimentum tincidunt turpis. Duis elit risus, ultricies eget sollicitudin in,
                rhoncus nec felis. In ac blandit diam, at tincidunt nulla. Interdum et malesuada fames ac ante ipsum primis
                in faucibus. Cras suscipit, arcu a mollis condimentum, massa ex ullamcorper orci, non consectetur ex urna
                nec eros. Suspendisse id est vitae nunc molestie varius. Nunc luctus vehicula magna, posuere tincidunt
                purus. 
            </a>
        </p>

    </div>
</div>